@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --white: hsl(0deg 0% 100%);
    --blue: hsl(215deg 51% 70%);
    --cyan: hsl(178deg 100% 50%);
    --bg: hsl(217deg 54% 11%);
    --card-bg: hsl(216deg 50% 16%);
    --blue-dark: hsl(215deg 32% 27%);
}

html {
    background-color: var(--bg);
    color: var(--white);
    font-family: "Outfit", sans-serif;
}

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
    body {
        /* autoprefixer: off */
        min-height: fill-available;
    }
}

h1 {
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
}

a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;

    &:focus,
    &:hover {
        color: var(--cyan);
    }
}

.Card {
    max-width: 350px;
    border-radius: 20px;
    padding: 24px;
    background-color: var(--card-bg);
    color: var(--blue);

    > * + * {
        margin-top: 1.5rem;
    }

    &-image {
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        display: block;

        img {
            display: block;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: hsl(178deg 100% 50% / 50%);
            background-image: url(src/assets/icon-view.svg);
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:hover,
        &:focus {
            &::after {
                opacity: 1;
            }
        }
    }

    &-price {
        color: var(--cyan);
    }

    &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span,
        time {
            display: flex;
            align-items: center;

            svg {
                margin-right: 5px;
            }
        }
    }

    &-author {
        display: flex;
        align-items: center;
        padding-top: 1rem;
        border-top: var(--blue-dark) 1px solid;

        img {
            border: var(--white) 1px solid;
            border-radius: 50%;
            margin-right: 20px;
        }

        a {
            margin-left: 10px;
            margin-right: auto;
        }
    }
}
